{% if greeting_list %}
    <ul>
    {% for greeting in greeting_list %}
        <li>
          {{ greeting.message }}
          <span><a href="{% url 'greetings:update' greeting.id %}">edit</a></span>
          <span><a href="{% url 'greetings:delete' greeting.id %}">delete</a></span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No greetings are available.</p>
{% endif %}
<img src ="https://preview.redd.it/wlymfc0z1mx71.jpg?auto=webp&s=cabc704ecc4e20c9bc2bfedf13689ac154567583" width = "500"><br>
<a href="{% url 'greetings:create' %}">Create a New Greeting</a><br/>
<a href="{% url 'greetings:newpage' %}"> Please click here to look at my favorite pokemon</a> <br />
<a href= "https://www.youtube.com/watch?v=k_ao07oSO8A">Click here to watch a very bad video about math</a> <br/>
