<h1> Heres a list of my Favorite Pokemon </h1>
<ul>
    <li> Squritle </li>
        <ul>
            <img src = "https://pa1.narvii.com/6903/eea75a09267448139088c44c2cbe26544940d9f4r1-443-332_00.gif">
        </ul>
    <li> Metagross </li>
        <ul>
            <img src = "https://giffiles.alphacoders.com/567/56783.gif">
        </ul>
    <li> Mimikyu </li>
        <ul>
            <img src = "https://c.tenor.com/xtBoInb_b5cAAAAC/pokemon-mimikyu.gif">
        </ul>
    <li> Dragapult </li>
        <ul>
            <img src = "https://64.media.tumblr.com/511a2576498034f3ec4d0350cf22a716/97a86b3461d43833-55/s640x960/2fbf93cad4578e629d11d9b06202be4b625fa8dc.gifv">
        </ul>
    <li> Electivire </li>
        <ul>
            <img src = "https://c.tenor.com/HIdqMOe1uDkAAAAC/electivire-thunder.gif">
        </ul>
    <li> Slacking </li>
        <ul>
            <img src = "https://64.media.tumblr.com/50a11bfd637f36da475a2407824b20b9/tumblr_oaosioGSOF1qfjr5zo1_500.gifv">
        </ul>
        
</ul>
<a href="{% url 'greetings:index' %}"> Please click here to redirect back to home page!</a> <br />